on:
  workflow_dispatch:
  workflow_call:
  push:
    paths:
      - 'chart/**'
    branches: [ main ]

jobs:
  deploy:
    uses: Flaminel/universal-workflows/.github/workflows/chart.install.yml@main
    with:
      githubContext: ${{ toJSON(github) }}
      forceRedeploy: true
    secrets:
      SECRETS_TOKEN: ${{ secrets.SECRETS_TOKEN }}